
<div class="h-full min-h-screen flex justify-center items-center">
  <form [formGroup]="registerForm" (ngSubmit)="addUser()" class="p-2 lg:w-1/4 md:w-1/2">
    <p class="m-2 font-bold text-blue-700 text-center">
      Registrar Usuaurio
    </p>

     <div class="border border-slate-700 m-2 rounded">
      <input 
      placeholder="Usuario"
      formControlName="usuario"
      class="border-0 w-full p-2 rounded" />
   </div>
  
     <div class="border border-slate-700 m-2 rounded">
      <input 
      placeholder="Correo"
      formControlName = "correo"
      class="border-0 w-full p-2 rounded" />
   </div>

   <div class="border border-slate-700 m-2 rounded">
    <input 
    type="password"
    placeholder="Contraseña"
    formControlName = "contrasena"
    class="border-0 w-full p-2 rounded" />
 </div>

    <div class="m-2">
      <button [disabled]="registerForm.invalid" type="submit" 
        class="w-full bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
        Registrar
      </button>
    </div>

    <div class="m-2 text-center">
      <a routerLink="" class="w-full cursor-pointer border-b border-blue-700 text-blue-500 font-bold pt-2">
        Regresar
      </a>
    </div>

  </form>
</div>
