
<div class="flex">

<div class="basis-2/6">
   <h2 class="p-2 m-2 bg-slate-800 text-white">Carril 1</h2>
   <ul>
     <li  class="bg-slate-700 p-2 text-white" *ngFor="let item of carrilOne$ | async" >
        {{ item.nombre }} {{item.telefono}}
     </li>
  </ul>
</div>

<div class="basis-2/6">
   <h2 class="p-2 m-2 bg-slate-800 text-white">Carril 2</h2>
   <ul >
      <li  class="bg-slate-700 p-2 text-white" *ngFor="let item of carrilTwo$ | async" >
         {{ item.nombre }} {{item.telefono}}
      </li>
   </ul>
</div>

<div class="basis-2/6">
   <h2 class="p-2 m-2 bg-slate-800 text-white">Carril 3</h2>
   <ul>
      <li class="bg-slate-700 p-2 text-white" *ngFor="let item of carrilThree$ | async" >
         {{ item.nombre }} {{item.telefono}}
      </li>
   </ul>
</div>

</div>
